*{
   margin:0px;
   padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif,Lato;
}


body{
   /* width: 80vw; */
   /* overflow-x: hidden; */
   margin:0px;
   padding:0px;
}

#h-container{
    border: 1px solid black;
    height: 720px;
    background:url("img/asset/Ashesi_NSMQ_Champions.jpg") center center/cover;
   
}

#nav-icon{
   
    display:inline-block;
    /* float:left; */
    position: absolute;
    top:22px;
    left:170px;


}
.nav-link .logo-img{
    width:100px;
    height:30px;
}


.nav-list{
    display:inline-block;
    position: absolute;
    left:310px;
    /* float:left; */
    margin:30px 0;
}

.nav-list .nav-item{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.nav-list .nav-item .nav-link{
    text-decoration: none;
    font-size:1.1rem;
    font-weight: 300;
    padding:8px;
    color:#ffffff;
    justify-content: space-between;
   

}

.nav-sub-list #nav-item {
    list-style: none;
}

 .nav-sub-list #nav-item .nav-link{
     text-decoration: none;
     font-size:1.3rem;
     padding-right: 20px;
     color:#fff;
 }

.nav-item .nav-sub-list{
   display: none;
   background: dimgray;
}

.nav-sub-item{
    list-style: none;
display: inline-block;

}

.nav-sub-item .nav-link{
    text-decoration: none;
    color: #fff;
    font-size:1.1rem;
    font-weight: 300;
    padding:8px;
    justify-content: space-between;
   
}

#emergency{
    background: brown;
    height:50px;
    position: relative;
    top:100px;
    left:0;
   
}

#em-link{
    text-decoration:none;
    font-size:1.5rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    display: block;
  
  
    
}

 .nav-item .nav-link:hover .nav-sub-list{
    display:inline-block;
    background: rgb(233, 61, 61);
}

.mc-1{
    background: #fff;
}

.grid-box{
    display: grid;
    grid-template-columns:1fr;
    width: 70%;
    margin:20px auto;
    justify-items:center;
    border:1px solid black;
}

.grid-row{
    font-size:24px;
    margin: 0;
    padding:10px 0;
}






.grid-box > .grid-nested{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
   
}

.grid-nested .col img{
    max-width: 300px;
}

.col .col-link{
    text-decoration: none;
    color: #404041;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase
}

.col .col-link:hover{
    color:tomato;
    cursor: pointer;
}



.mc-2{
    background: #404041;

    padding:30px 100px;
    border:1px solid red;
}

.grid-2{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    width: 70%;
    margin:18px auto;
    border:1px solid red;
  
   
}

.mc-2-col{
    border: 1px solid rgb(82, 238, 21);
    margin:10px 20px;
    padding:0 40px;
    width:200px;
    
}

.mc-2-col h2,p > a{
    color:#fff;
    font-size:3rem;
    font-weight:400;
   
   
}


.mc-2-col p{
   
    text-transform:capitalize;
   
}



.mc-3 .mc-3-banner {
    width:100%;
    border:1px solid red;
}

.mc-3-banner img{
    width:inherit;
}




.grid-row-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap:20px;
    width: 70%;
    margin:100px auto;
    padding: 10px;
    border:1px solid red;

}

.mc-4-col{
    max-width: 250px;
}


.mc-4-col > img {
    max-width: 250px;
}

.mc-4-link{
    text-decoration: none;
    color:tomato;
    font-size:1em;
   
}

.mc-5 .mc-5-banner {
    width:100%;
    height:400px;
    border:1px solid red;
}

.mc-5-banner img{
    width:inherit;
}



#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(auto);
    grid-column-gap:20px;
    grid-row-gap:40px;
    width: 70%;
    margin:auto;
    justify-items: center;
    
}
.footer-container{
    background: #404041;
    height: 720px;
    padding:100px 0;
   
}

.fc-row-h{
    color: #a0a0a0;
    font-size:24px;
}

.fc-row .fc-link{
    text-decoration: none;
    color: #ffffff;;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.fc-row .fc-heading{
    color: #fff;
    font-family: 'Lato',sans-serif;
    font-size:20px;
    line-height: 1.3;
    font-weight: 500;
}

.fc-heading{
    margin-bottom: 10px;
}


#sm-wrapper  {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    width:300px;

   
}

.sm .fc-link > img{
    max-width:50px;
    padding: 0;
}

.fc-row img{
    width:80%;
}

#fc-row-span{
    display: grid;
    grid-template-columns:1fr 1fr;
   

  
}



